body{
  margin: 5em;
}

ul{
  font-weight: bold;
  list-style-type: none;
  padding: 0;

}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: grey;
  font-style: italic;  
}

a {
  text-decoration: none;
}

footer img {
  width: 2%;
  height: 100%;
}

main h1 {
  border-bottom: solid;
  border-bottom-width: 5px;
}

header nav {
  border-bottom: solid;
  border-bottom-width: 1px;
}

footer {
  border-top: solid;
}

aside p span {
  font-weight: bold;
}

footer p span {
  font-weight: bold;
}